* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #182C61;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 100%;
    max-width: 550px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 6px 14px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 7px 20px;
    font-size: 16px;
    color: #fff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button {
    color: #cac7ff;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #061c5888;
    cursor: pointer;

}